<span style="font-size: 18pt;"><strong>Olá {{ student }}</strong></span><br />

<p>Esse é o e-mail que confirma sua matrícula na Gympoint<br />

    <span>Plano contratado: {{ plan }}</span><br />
    <span>Inicio dos treinos: <strong>{{ start_date }}</strong></span><br />
    <span>Fim do plano: {{ end_date }}</span><br />
    <span>Preço total: {{ price }} </span><br />
</p>
